// variables
$primary-color: #008fe2;
$secondary-color: #2d529f;
$turquoise-color: #3aabdd;
$blue-color: #00a0fc;
$gray-color: #6c757d;
$light-gray: #eee;
$dark-color: #1d2127;
$light-color: white;
$main-font: "Poppins", sans-serif;
$contact-nav-height: 40px;
$lightest-grey: #f7f7f7;
$grey-font: #999999;
$border-gray: #e4e4e4;
$dark-gray: #34383d;
$container-width: 90vw;
$light-blue: #90c9ea;
